body{
    background-color: dodgerblue;
    font-family: BBH Sans Bartle;
}
header{
    font-size: 50px;
    text-align: center;
    color: darkolivegreen;
    border: dotted;
    .top1{
        text-align: center;
        background-color: crimson;
        padding-bottom: 40px;
    }
}
}